# .gitignore
# @authors Anish, Bidipta, Dibyasmita, Arpan
# @description Specifies the files and directories to be ignored by Git version control.
# @created 30-01-2026
# @updated 14-03-2026
# @returns A List of files to ignore.
#


# Node Related




# FastAPI Related




# Python Related




# Intermediate Files



# Executables



# IDE Related




# OS Related




# Android Related




# Flutter Related



# IoT Related



# Logs



# Environment Files



# Temporary Files & Directories 